.App {
  font-family: "sans-serif";
  max-width: 1500px;
  margin: auto;
}

h1 {
  text-align: center;
}

.header > * {
  margin-right: 2rem;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

.article img {
  width: 100%;
}

.navigation {
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pageBtn {
  padding: 5px;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 25px;
  cursor: pointer;
}

.pageBtn:disabled {
  cursor: inherit;
}